{{ define "main" }}
<div class="header-container">
    <h1>{{ .Title }}</h1>
    <div class="header-blocks">
        {{range $_, $number := seq 50}}
        <div class = "pattern-container">
            <div class="wave-block pattern-{{ mod $number 2 }}" style="--i: {{math.Rand | mul 6 | math.Floor}};"></div>
        </div> 
        {{end}}
    </div>
</div>






{{ if .Content }}
<div class="section-content" style="margin-bottom: 40px;">
  {{ .Content }}
</div>
{{ end }}

<ul class="post-list">
  {{ range .Pages }}
    <li class="post-item">
      <span class="post-date">{{ .Date.Format "Jan 02, 2006" }}</span>
      <span class="post-title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </span>
    </li>
  {{ end }}
</ul>
{{ end }}


